body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.score {
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

.errors {
  font-size: 1em;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.editor {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  word-break: break-word;
  transition: all 200ms linear;
}

.unused {
  color: white;
}
.current {
  animation: blinker 700ms linear infinite;
  color: #282c34;
  background: white;
}
.failed {
  color: red;
}

.success {
  color: #9b9b9b;
}

.failed.current {
  background: red;
  color: white;
}

footer {
  font-size: 0.4em;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #171a1f;
}
footer img {
  width: 0.7em;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
